
/* *{
    color:white !important;
} */

#projects {
    background-color: #2f286c;
    background-color: #6e5773;
    padding:20px;
    padding-bottom: 20px;;
    padding-top: 24px;
    color:white !important;
}