#main-nav {

  background-color: #681d5e;
  position: -webkit-sticky;
  color: white;
  font-size: 16px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between !important;
  align-items: center !important;
  list-style: none;
  width: 100%;
  position: sticky !important;
  position: fixed;
  top: 0;
  z-index: 999;
  height: 10% !important;
  padding: 12px;

}

#button__icon{
  height: 20px;
  align-self: center !important;
  color: white !important;
  align-self: baseline !important;
 
 }
/*  */
#menu p {
  margin-right: 10px;
  color: white !important;
  align-self: center;


}

#menu {

  right: 0 !important;
  align-self: baseline !important;
}

#drawertext {
  color: white;
  width: 100%;
  font-size: small !important;
  font-weight: lighter !important;


}

.hoverable:hover {
  color: white !important;
  ;
}

#list {
  align-self: center;
  display: flex;
  list-style: none;
}

#geici-nav:hover {
  color: white !important;
}

#contact-button {
  align-items: center;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 8px;
  margin-right: 10px;
  height: fit-content;
  background-color: orange;
}

#contact-button:hover {
  background-color: #ffa35f;
  transform: scale(1.05);
}

header nav {
  margin: 7px 0;

}

.navbar.colorChange {
  background-color: #6b4897;
}

#link-user {
  display: flex;
  /* background-color: pink; */
  align-self: center;
  align-items: baseline !important;
  justify-content: center;
  margin-top: 10px;
}



#nav-list {
  /* align-items: center; */

  list-style: none;
  display: flex;
}

#title {
  font-weight: lighter;
  align-self: flex-start;
  margin-left: 10px;
  font-family: 'Pinyon Script', cursive;

}


li {
  padding: 10px;
  text-decoration: none;
  color: white;
}

.navBtn {
  color: white;
}


a {
  color: white;
  text-decoration: none;
}

li:hover {
  background-color: none;
  border-radius: 15px;
  text-shadow: none;

}

@media screen and (max-width: 980px) {
  #main-nav {
    position: relative;
    padding-bottom: 0;
    justify-content: center;
  }

  @media screen and (max-width: 775px) {
    #contact-button {
      font-size: small !important;
      width: fit-content !important;
    }

    #main-nav {
      
      display: flex;
      align-items: flex-start;
      flex-wrap: nowrap !important;
      font-size: 14px;
      padding:12px;

    }

    #geici-nav {
      font-size: 24px;
      
      
    }

    h3,
    h4 {
      font-size: 14px;
      margin-left: 3px;
    }

    li a ul {
      font-size: 14px;
    }

  }

  @media screen and (max-width: 575px) {


    header nav ul li a {
      justify-content: flex-start;
      font-size: 20px;
      top: 0;
      left: 0;

      width: 100%;
      flex-direction: row;
      font-weight: bold;
      padding-top: 0px;
    }


  }
}